body {
    
    background-image: repeating-linear-gradient(
        -45deg,
        #F3E9DD 0px,
        #F3E9DD 20px,
        #FDF6EC 20px,
        #FDF6EC 40px
        );
    }

/* .boton{
    background-color: rgba(49,138,172,0.8);
    width: 30%;
    color: aliceblue;
} */


.select {
    background-color: rgba(49,138,172,0.8);
    color: #fff;
    width: 25%;
    height: 40px;
}

.container{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    position: relative;
    flex-direction: row;
    max-width: 300px;
    margin: 0 ;
    border-image: black;
    border-radius: 20px;
    height: 80vh;
    width: 300px;
    
}


nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(49,138,172,0.8);
    height: 40px;
    width: 100%;
    text-align: center;
    
}

.paginado{
    display:flex;
    margin: 0 auto;
    text-align: center;
    width: 100%;

    justify-content: center;
}


.boton{
	position: relative;
	display: block;
	
	border-radius: 6px;
	text-align: center;
	font-weight: bold;
	width: 35%;
	height: 40px;

	overflow: hidden;
	color:aliceblue;
	cursor: pointer;
	letter-spacing: 2px;
	box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
	text-decoration: none;
	transition: all ease 0.5s;
	background-color: rgba(49,138,172,0.8);
}
 
.boton:after,
.boton:before{
	width: 80px;
	height: 200px;
	content: '';
	display: block;
	background: rgba(255,255,255,0.5);
	transform: rotate(45deg);
	top: -60px;
	position: absolute;
	transition: none;
	right:-45%;
	cursor: pointer;
}
 
.boton:before{
	left: -48%;
}
 
.boton:hover{
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	background:#12C987
}
 
.boton:hover:after,
.boton:hover:before{
	transform: rotate(45deg), scaleX(130%);
	background: rgba(255,255,255,0.1);
	transition: all ease 0.5s;
}
 
.boton:hover:after{
	right: 130%;
}
 
.boton:hover:before{
	left: 130%;
}

.btnlink{
    color: #fff;
}